* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  
    margin: 0;
    padding: 0;
  }
  
  h2,
  h3 {
    color: #000000;
  }
  
  footer {
    padding: 20px;
    color: white;
    background-color: #241b03;
  
    text-align: center;
    font-weight: bold;
  }
  
  nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color : white;
  }
  
  nav a:hover {
    font-weight: bold;
  }

  nav .logo{
    font-size: 20px;
    width: 50%;
    left: 35px;
    position: relative;
    top: -18px;
  }
  
  nav .logo img{
    padding-top: 20px;
    width: 60px;
    overflow: auto;
  }
  
  header img{
    padding: 10px, 0px;
    box-sizing: border-box;
    top: 60px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 0;
  }
  
  .featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  
  .profile img {
    width: 200px;
  }
  
  .card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
   
    padding: 20px;
    margin-top: 20px;
  }
  
  
  nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
  }
  
  /*Styling untuk navbar*/
  nav {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, #000000, #382a03);
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 4px #00000033;
  }
  
  /*Styling Flexbox*/
  nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
  }
   

  main {
    padding: 20px;
    overflow: auto;
    display: flex;
    gap: 1.5rem;
  }
  
  #content {
    float: left;
    width: 75%;
    flex: 5;
    }
     
    aside {
      flex: 1;
    }
    
  }
  
  aside {
    float: right;
    width: 25%;
    padding-left: 20px;
  }
  
  header {
    display: inline;
  }
  
  @media screen and (max-width: 1000px) {
    #content, aside {
      width: 100%;
      padding: 0;
    }
  }